server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:userdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      continue-on-error: false
  application:
    name: user-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:adcw987654@gmail.com}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
jwt:
  secret: ampGooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
mail:
  from: ${MAIL_FROM:adcw987654@gmail.com}
  from-name: ${MAIL_FROM_NAME:AmpGo Demo}
